<%= render "shared/toast", toast: flash[:toast] %>
<div>
  <strong>Name: </strong>
  <span><%= @school_class.name %></span>
</div>
<div>
  <strong>Description: </strong>
  <br>
  <p><%= @school_class.description %></p>
</div>

<br>
<p class="divider"></p>
<br>

<!-- student list -->
<%= render "assigned_students" %>
