<%= render "shared/toast", toast: flash[:toast] %>
<div>
  <div>
    <strong>Name:</strong>
    <span><%= @school_class.name %></span>
  </div>
  <div>
    <strong>Description:</strong>
    <p><%= @school_class.description %></p>
  </div>

<br>


<!-- student list -->
<%= render "assigned_students" %>
