<dialog id="turbo-confirm" class="modal">
  <div class="modal-box">
    <p class="text">Are you sure?</p>
    <div class="modal-action">
        <form method="dialog">
            <div>
                <button class="btn btn-outline" value="cancel">Cancel</button>
                <button class="btn btn-error" value="confirm">Confirm</button>
            </div>
        </form>
    </div>
  </div>
</dialog>