<% if @show_pass_prompt %>
    <div 
        id="toast" 
        class="fixed top-4 right-4 z-50 transition-opacity duration-500"
    >
        <div class="alert alert-warning max-w-lg">
            <div>
                <h1 class="text-2xl font-bold mb-4">Important Security Notice</h1>
                <p>It looks like you're still using the default password for your account. For your security, we highly recommend that you update your password right away.</p>
                <div class="mt-4">
                    <button class="btn btn-ghost btn-sm" onclick="closeToast()">Later</button>
                    <%= link_to 'Change Password', target, class: "btn btn-bg-primary btn-sm" %>
                </div>
            
            </div>
        </div>
    </div>

    <script>
        function closeToast() {
            const toast = document.getElementById('toast');
            toast.style.opacity = '0';
            setTimeout(() => toast.remove(), 500); 
        }

        setTimeout(closeToast, 15000);
    </script>

<% end %>