<% if toast.present? %>
    <div class="fixed top-0 right-0 mt-4 mr-4 z-50" data-controller="toast" data-toast-target="toast">
        <div class="alert">
            <span><%= toast %></span>
            <div>
                <button class="btn btn-bg-primary btn-sm" data-action="click->toast#close">X</button>
            </div>
        </div>
    </div>
<% end %>