<% if @student_classes.any? %>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <% @student_classes.each do |school_class| %>
      <% student_sections = @student_sections.select { |section| section.school_class_id == school_class.id } %>
      <div class="bg-base-100 shadow-md rounded-lg p-6 border-2 border-lime-400">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <svg class="h-10 w-10 text-blue-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4h16M4 12h16M4 20h16" />
            </svg>
          </div>
          <div class="ml-4">
            <p class="text-md font-semibold">Class: <%= school_class.name %></p> <!-- Displaying class name -->
            <p class="text-md font-semibold">Section: 
              <% if student_sections.any? %>
                <%= student_sections.map(&:name).join(', ') %>
              <% else %>
                No sections assigned
              <% end %>
            </p>
            <p class="text-md font-semibold mt-2">Subjects:</p>
            <ul class="list-disc ml-6 mt-1">
              <% if school_class.subjects.any? %>
                <% school_class.subjects.each do |subject| %>
                  <li><%= subject.name %></li>
                <% end %>
              <% else %>
                <li>No subjects assigned</li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div>
    <p class="text-center py-4 text-gray-500">You are not enrolled in any classes at the moment.</p>
  </div>
<% end %>
