<header class="flex justify-between items-center">
  <div class="join">
    <input type="text" placeholder="Type here" class="input input-bordered w-96 join-item" />
    <button class="btn btn-primary join-item">Search</button>
    <button class="btn btn-secondary join-item">Reset</button>
  </div>
  <div class="join">
    <select class="select select-bordered join-item">
      <option disabled selected>Add Filter</option>
      <option>Homer</option>
      <option>Marge</option>
      <option>Bart</option>
      <option>Lisa</option>
      <option>Maggie</option>
    </select>
    <select class="select select-bordered join-item">
      <option disabled selected>Selected Items</option>
      <option>Homer</option>
      <option>Marge</option>
      <option>Bart</option>
      <option>Lisa</option>
      <option>Maggie</option>
    </select>
    <button class="btn btn-primary join-item">Export</button>
  </div>
</header>
<section>
  <div class="overflow-x-auto">
    <table class="table table-sm">
      <!-- head -->
      <thead>
        <tr>
          <th>
            <label>
              <input type="checkbox" class="checkbox" />
            </label>
          </th>
          <th>Name</th>
          <th>Email</th>
          <th>Permission</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr class="hover">
          <th>
            <label>
              <input type="checkbox" class="checkbox" />
            </label>
          </th>
          <td>
            <div class="flex items-center gap-3">
              <span>Ei Romero</span>
            </div>
          </td>
          <td>
            <span>admin@example.com</span>
            <br/>
            <span class="badge badge-ghost badge-sm">Current</span>
          </td>
          <td>
            <span>Superadmin</span>
          </td>
          <td>
            <button class="btn btn-ghost btn-sm"><%= fa_icon "info-circle lg" %></button>
            <button class="btn btn-ghost btn-sm"><%= fa_icon "pencil lg" %></button>
            <button class="btn btn-ghost btn-sm"><%= fa_icon "trash lg" %></button>
            <button class="btn btn-ghost btn-sm"><%= fa_icon "history lg" %></button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="flex justify-between items-center">
      <span>7 Admins</span>
      <div class="join">
        <button class="join-item btn">1</button>
        <button class="join-item btn">2</button>
        <button class="join-item btn btn-disabled">...</button>
        <button class="join-item btn">99</button>
        <button class="join-item btn">100</button>
      </div>
    </div>
  </div>
</section>