<section class="p-6">
  <h1 class="text-3xl font-bold">List Admins</h1>
  <div class="text-sm breadcrumbs">
    <ul>
      <li><a>Home</a></li>
      <li>List Admins</li>
    </ul>
  </div>
  <div role="tablist" class="tabs tabs-lifted tabs-lg">
    <a role="tab" class="tab tab-active">List</a>
    <a role="tab" class="tab">Add</a>
    <a role="tab" class="tab">Export</a>
    <a role="tab" class="tab">History</a>
    <span class=""></span>
  </div>
  <div class="border-b border-x bg-base-100 border-base-300 rounded-b-lg p-6"><%= render partial: "list_admins" %></div>
</section>