<%= render "shared/toast", toast: flash[:toast] %>

<div>
    <strong>Name: </strong>
    <span><%= @exam.name%></span>
</div>
<div>
    <strong>Subject: </strong>
    <span><%= @exam.subject.name %></span>
</div>
<div>
    <strong>Items: </strong>
    <span><%= @exam.items %></span>
</div>
