<%= render "shared/toast", toast: flash[:toast] %>

<h2 class="text-2xl font-semibold mb-4">Basic Information</h2>

<div>
    <strong>Name: </strong>
    <span><%= @student.name %></span>
</div>
<div>
    <strong>Email: </strong>
    <span><%= @student.email %></span>
</div>
